# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Chroma Database
chroma_db/

# Uploaded documents
uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db